/* Estilos generales */


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #333;
}


/* Estilos para las listas */
ul{
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 10px;
}


/* Estilos para los párrafos */
p {
    line-height: 1.5;
}